.sd {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 400;
    color: #022133;
    margin-block: 50px;
}

.gh {
    margin-bottom: 50px;
}

.sd {
    font-size: 40px;
}

.about h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: white;
    margin-block: 20px;
}

.about p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

@media (max-width:355px) {
    .about p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: 400;
        color: white;
    }
}

@media (max-width:315px) {
    .about p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
}