:root {
  --titleFont: 'EB+Garamond';
}

.profil {
  width: 420px;
  height: 450px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-block: 70px;
  padding: 20px 30px;
}

.profil_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil_h1 h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
}

.profil_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profil_input input {
  width: 310px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  padding: 5px 15px;
}

.prfil_p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prfil_p p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  color: #277FB3;
  text-decoration: none;
}

.prfil_p a {
  text-decoration: none;
}

.profil_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 44px;
  background-color: #277FB3;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.profil_btn:hover {
  background-color: #01558a;
  border-radius: 100px;
}

.profil_btn:active {
  background-color: #277FB3;
  transform: scale(0.95);
  border-radius: 100px;
}

.m {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 270px;
  height: 30px;
  border: 1px solid gray;
  margin-inline: auto;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.google:hover {
  background-color: rgb(182, 200, 215);
}

.google:active{
  border:2px solid #277FB3;
}


.google p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  color: black;
}

.google_royhat p{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  color: black;
}

.google_royhat span{
  color: #277FB3;
}


.google_royhat a{
  text-decoration: none;
  color: #277FB3;
}