:root {
    --font-family: 'Montserrat', sans-serif;
    --font-family-Garamond: 'EB+Garamond';
}

.mainBoy {
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.mainBoy1 {
    display: flex;
    margin-top: 60px;
    gap: 30px;
}

.mainBoy1:nth-child(even) {
    flex-direction: row-reverse;
}

.mainBoy1 img {
    width: 600px;
    height: 425px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.mainBoy_text h1 {
    font-family: var(--font-family-Garamond);
    font-size: 50px;
    font-weight: 400;
    color: #0f3940;
}

.mainBoy_text p {
    font-family: var(--font-family);
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: normal;
    margin-top: calc(var(--spacing) * 7);
    --tw-leading: 150%;
    color: #022133;
    line-height: 1.5;
    text-align: justify !important;
}

.main_btn123 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: auto;
    padding: 10px 20px;
    height: auto;
    background-color: #0f3940;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.25;
    transition: 0.3s;
    margin-top: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.main_btn123:hover {
    background-color: #1a5560;
}

.main_btn123:active {
    background-color: #0f3940;
    transform: scale(0.95);
}

@media (max-width:1020px) {
    .mainBoy1,
    .mainBoy1:nth-child(even) {
        flex-direction: column;
        align-items: center;
    }

    .mainBoy1 img {
        width: 100%;
        height: 400px;
    }
}