:root {
    --font-family: 'Montserrat', sans-serif;
    --font-family-Garamond: 'EB+Garamond';
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}


.heroSwiper {
    width: 100%;
    height: 100%;
}

.hero-slide {
    border-radius: 15px;
    width: 100%;
    height: 580px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-block: 30px;
}

.hero-slide::after {
    content: "";
    position: absolute;
    border-radius: 15px;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.hero-content {
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 20%;
    color: #fff;
    max-width: 800px;
}

.hero-content h1 {
    font-family: var(--font-family-Garamond);
    font-size: 64px;
    font-weight: 500;
    max-width: 822px;
}

.hero-content p {
    font-family: var(--font-family);
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* arrows */
.swiper-button-prev,
.swiper-button-next {
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    width: 22px;
    height: 20px;
    color: black;
}


/* pagination */
.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
    background: #fff;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 36px;
    }
}

@media (max-width:600px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

}

@media (max-width:500px) {
    .hero-slide {
        border-radius: 15px;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-block: 30px;
    }

}