:root {
    --font-family: 'Montserrat', sans-serif;
    --font-family-Garamond: 'EB+Garamond';
}

.footer {
    background-color: #022133;
    color: white;
    padding: 60px 0 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 30px;
}

.footer-logo img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: -5px;
}

.footer-section h3 {
    color: white;
    font-family: var(--font-family-Garamond);
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: white;
}

.footer-section p {
    font-family: var(--font-family);
    color: gray;
    font-size: 15px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: color 0.2s;
}

.footer-section li {
    color: white;
    font-size: 15px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: color 0.2s;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    padding: 5px 0;
}

.social-links li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.map-button {
    background-color: #1e99ca;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 170px;
}

.map-button:hover {
    background-color: #1782b3;
}

.footer-bottom {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid gray;
}

.footer-bottom p {
    margin: 0;
    color: white;
    font-size: 16px;
}

.footer-bottom a{
    color: gold;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: 800;
    transition: all .2s;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

