.dropdown-label {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #032539;
  font-size: 18px;
  cursor: pointer;
  gap: 5px;
  user-select: none;
  transition: color 0.3s ease;
}

.dropdown-label:hover {
  color: #e86c1a;
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.dropdown-label:hover .chevron-icon {
  transform: rotate(180deg);
}

.dropdown-title {
  color: inherit;
  font-size: 17px;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
}
.mnuH {
  width: 100%;
  height: 76px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.menuH {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #032539;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #032539;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  text-align: center;
  width: 150px;
  height: 105px;
  position: absolute;
  background-color: #2b7eb3;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
  /* margin-top: 5px; */
}

.dropdown-menu a {
  text-decoration: none !important;
  display: block;
  width: 100%;
}

.menu-item {
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: none;
  border: none;
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px 0px 16px 0px;
  font-size: 18px;
  border-radius: 0;
  transition: background 0.2s;
}

.menu-item:first-child {
  border-bottom: 3px solid #fff;
}

.menu-item:first-child:hover {
  background-color: #1a5c8a;
  border-bottom: 3px solid #fff;
}

.menu-item:hover {
  background-color: #1a5c8a;
}

.divider {
  height: 2px;
  background-color: #fff;
  margin: 0;
  opacity: 1;
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}

@media (max-width:1040px) {
  .menuH {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width:1020px) {
  .mnuH {
    display: none;
  }
}