.mnuH {
    width: 100%;
    height: 76px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.menuH {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 90px; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #032539;
    position: relative;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #032539;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* "YANGILIKLAR" yozuvi uchun */
.dropdown-label {
  color: black; /* To'q sariq rang */
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-label:hover {
  color:   #e65100; 
}

.arrow {
  font-size: 14px;
}

/* Menyuning o'zi */
.dropdown-menu {
  display: none; /* Dastlab yashirin */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2b7eb3; /* Rasmdagi moviy rang */
  min-width: 180px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Sichqoncha ustiga borganda menyuni ko'rsatish */
.dropdown-container:hover .dropdown-menu {
  display: block;
}

/* Menyu elementlari */
.menu-item {
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #1a5c8a; /* Tanlanganda biroz to'qroq rang */
}

/* O'rtadagi oq chiziq */
.divider {
  height: 1px;
  background-color: white;
  margin: 0 10px;
  opacity: 0.8;
}

@media (max-width:1040px) {
    .menuH {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .navbar {
        display: flex;
        align-items: center;
        gap: 50px;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width:1020px) {
    .mnuH {
        display: none;
    }
}