:root {
    --titleFont: 'EB+Garamond';
}

.aloqa {
    display: flex;
    gap: 30px;
    margin-block: 60px;
}

.aloqa_h1 h1 {
    font-family: var(--titleFont);
    font-size: 55px;
    font-weight: 400;
    color: #022133;
    max-width: 628px;
}

.aloqa_input {
    display: flex;
    gap: 20px;
}

.lo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.in {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ki {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.in label {
    font-family: sans-serif;
    color: gray;
}

.in label span {
    color: red;
}

.in input {
    width: 220px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 16px;
}

.in textarea {
    width: 515px;
    height: 100px;
}

.aloqa_btn button {
    width: 102px;
    height: 44px;
    background-color: #277FB3;
    border: none;
    border-radius: 100px;
    color: white;
    margin-top: 10px;
    /* margin-left: 380px; */
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.aloqa_btn button:hover {
    background-color: #01558a;
}

.aloqa_btn button:active {
    background-color: #277FB3;
    transform: scale(0.95);
}

.tel {
    display: flex;
    gap: 320px;
}

.tel4 h1 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.5px;
    font-family: Arial, sans-serif;
}

.c {
    display: flex;
    gap: 5px;
    align-items: center;
}

.c svg {
    color: #002B36;
}

.c p {
    font-size: 16px;
    font-weight: 400;
    color: #002B36;
    font-family: "Poppins", sans-serif;
}

.tel4 p {
    font-size: 16px;
    font-weight: 400;
    color: #002B36;
    font-family: "Poppins", sans-serif;
}

.aloqa_input {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


@media (max-width:1100px) {
    .n iframe {
        width: 400px;
        height: 500px;
    }
}

@media (max-width:1025px) {
    .aloqa {
        display: flex;
        flex-direction: column;
    }

    .aloqa {
        display: flex;
        flex-direction: column;
    }

    .aloqa_input {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 18px;
    }

    .aloqa_input .in {
        flex: 1 1 calc(50% - 12px);
        min-width: 220px;
        box-sizing: border-box;
    }

    .aloqa_input .in.fullwidth,
    .aloqa_input .in textarea,
    .aloqa_input .in textarea+* {
        width: 100%;
        height: 400px;
    }

    .aloqa_input .in input,
    .aloqa_input+* {
        width: 100%;
        height: 45px;
        padding: 16px 18px;
        box-sizing: border-box;
    }

    .in input {
        width: 100%;
    }

    .aloqa_input .in textarea {
        width: 100%;
        height: 170px;
        max-height: 400px;
        border-radius: 0.375rem;
        padding: 0.75rem;
        margin-top: 0.25rem;
        box-sizing: border-box;
        resize: vertical;
    }

    .tel {
        display: flex;
        gap: 15px;
    }

    .n {
        width: 100%;
        height: 500px;
    }

    .aloqa_btn button {
        margin-bottom: 10px;
    }

}


@media (max-width:455px) {
    .tel {
        display: flex;
        flex-direction: column;
    }
}