.users-page {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.users-page h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #032539;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.user-form h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #032539;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


.loading-text,
.empty-text {
  margin-top: 20px;
  color: #777;
}

.user-card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  background: #fff;
}

.user-card button {
  margin-top: 10px;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  color: #777;
  border: 1px solid;
  transition: background-color 0.3s;
  transition: 0.3s;
}

.user-card button:active {
  transform: scale(0.95);
}

.user-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.n {
  display: flex;
  justify-content: center;
  align-items: center;
}

.n input {
  padding: 7px 6px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.n button {
  padding: 7px 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: white;
  border: 1px solid #ccc;
  color: #6d6767;
  transition: 0.3s;
}

.n button:active {
  transform: scale(0.95);
}

.user-card h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-family: sans-serif;
  color: #777;
}


.user-card p {
  font-size: 15px;
  font-family: sans-serif;
  color: #777;
}