.bit {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-block: 70px;
}

.bit1 img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.bit1 h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: #022133;
}

