.bit {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-block: 70px;
}

.bit1 img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.bit1 h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: #022133;
}

@media (max-width: 630px) {
  .bit {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
    margin-block: 50px;
  }

  .bit1 img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }

  .bit1 h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

